@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    font-family: "Exo 2", sans-serif;
  }

  .blog:last-child {
    border: none;
  }

  body::-webkit-scrollbar {
    width: 0.5em;
  }

  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #000;
  }

  body::-webkit-scrollbar-thumb {
    background-color: rgb(15, 27, 65);
    outline: 1px solid transparent;
    border-radius: 1rem;
  }
  body::-webkit-scrollbar-thumb:hover {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }

  .bookmarks::-webkit-scrollbar {
    width: 0.4em;
  }

  .bookmarks::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 1rem;
  }

  @media (hover: none) {
    * {
      cursor: default !important;
    }
  }
}

@layer base {
  body {
    @apply bg-gray-900 text-gray-100;
  }
  .container {
    @apply max-w-[1400px] mx-auto px-4 md:px-8;
  }

  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-red-400 to-purple-400 font-bold hover:from-purple-400 hover:to-red-400;
  }

  .gradient-border {
    @apply bg-gradient-to-r from-red-400 to-purple-400 p-[3px];
  }
}
